/* --- Location / Map --- */
#map {
  width: 100%;
  height: 100%;
  filter: grayscale(0.8);
  transition: filter 0.5s ease;
}

#map:hover {
  filter: grayscale(0.1);
}

.map-container {
  width: 100%;
  height: 300px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-accent);
}
