/* Paper torn separator */
.torn-separator {
  height: 30px;
  background: var(--color-accent);
  clip-path: polygon(
    0% 10%,
    5% 80%,
    10% 10%,
    15% 90%,
    20% 10%,
    25% 80%,
    30% 10%,
    35% 90%,
    40% 10%,
    45% 80%,
    50% 10%,
    55% 90%,
    60% 10%,
    65% 80%,
    70% 10%,
    75% 90%,
    80% 10%,
    85% 90%,
    90% 10%,
    95% 80%,
    100% 10%,
    100% 100%,
    0% 100%
  );
  margin-bottom: 3rem; /* fix subpixel rendering */
}
