/* Títols amb efecte "glitch" estàtic */
h1,
h2,
h3 {
  font-family: var(--font-display);
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 3px 3px 0 var(--color-accent-dim);
  border-bottom: 4px solid var(--color-accent);
  display: inline-block;
  padding-right: 20px;
  transform: rotate(-1deg);
}
