/* --- Voluntariat --- */
#voluntaris {
  background-color: var(--color-paper);
  color: var(--color-black);
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%); /* Lleuger angle */
  padding: 5rem 0;
}

#voluntaris h2 {
  border-color: var(--color-black);
  text-shadow: none;
}

.roles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 2rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.roles-list li {
  background: var(--color-black);
  color: var(--color-paper);
  padding: 5px 15px;
  transform: rotate(-2deg);
}
.roles-list li:nth-child(even) {
  transform: rotate(2deg);
}

.volunteers-desc {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.btn-write-us {
  display: inline-block;
  background: var(--color-black);
  color: #fff;
  border-color: var(--color-black);
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid var(--color-black);
  cursor: pointer;
}

.btn-write-us:hover {
  background: transparent;
  color: var(--color-black);
}
